@using GM.WebApp.MVC.Extensions

@{
    ViewData["Title"] = "Todos os produtos";
}

<section>
    <div>
        <div style="background-image: url(images/banners/Template.jpg); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover">
            <div style="text-align: center;">
                <img src="~/images/status/aguardandoLimpar.png" />
            </div>
        </div>
        <div class="container" style=" padding-top: 20px">
            <div class="row">  </div>
        </div>
    </div>
</section>